<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle>
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title >{{title}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="searchBar = !searchBar">
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-toolbar *ngIf="searchBar" no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>

  <ion-list #objList >
    <ion-item no-lines >
      <div class="row eren-header" >
        <ion-header class="col left btm-brd" >Date</ion-header>
        <ion-header class="col center btm-brd" >Amount</ion-header>
        <ion-header class="col right btm-brd" >Status</ion-header>
      </div>
    </ion-item>
    <ion-item-sliding #item *ngFor="let obj of objArray" [hidden]="obj['hide']" >
      <!---------------------- Modify this display content for each page  ----------------------------->
      <ion-item (click)="display(obj)" >
        <a class="row" >
          <span class="col left" >{{obj?.pmtDtEpochMilli | date:'dd-MM-yy' }}</span>
          <span class="col center" >{{ obj?.amt }}</span>
          <span class="col right" >{{ obj?.status }}</span>
        </a>
      </ion-item>
      <!---------------------- Modify this display content for each page  ----------------------------->
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="this.display(obj)">View Item</button>
        <button ion-button color="dark" (click)="edit(obj)">Edit Item</button>
      </ion-item-options>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="remove(obj)">Delete</button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="objArray?.length > 0">
    No Entries Found. Click the '+' button to add.
  </ion-list-header>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="add()" >Pay</button>
  </ion-fab>

</ion-content>
