<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle [hidden]="fns.editMode | async" >
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title *ngIf="!loggedIn" >Login</ion-title>
    <ion-title *ngIf="fns.getRole() === 'tenant'" >Properties</ion-title>
    <ion-title *ngIf="fns.getRole() === 'landlord'" >Apartments</ion-title>

    <ion-buttons *ngIf="loggedIn" end>
      <button ion-button (click)="fns.flipEditMode();">
        <span *ngIf="fns.getRole() === 'tenant'" >
          <ion-icon *ngIf="!(fns.editMode | async)" name="search" ></ion-icon> &nbsp; <span>{{(fns.editMode | async) ? 'Done' : 'Search'}}</span>
        </span>
        <span *ngIf="fns.getRole() === 'landlord'" >
          <ion-icon *ngIf="!(fns.editMode | async)" name="create" ></ion-icon> &nbsp; <span>{{(fns.editMode | async) ? 'Done' : ''}}</span>
        </span>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <page-login *ngIf="!loggedIn" ></page-login>

  <page-tenant-home *ngIf="fns.getRole() === 'tenant'" ></page-tenant-home>

  <page-apartment *ngIf="fns.getRole() === 'landlord'" ></page-apartment>

</ion-content>
