<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle [hidden]="fns.editMode" >
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title *ngIf="!loggedIn" >Login</ion-title>
    <ion-title *ngIf="role == 'tenant'" >Properties</ion-title>
    <ion-title *ngIf="role == 'landlord'" >Apartments</ion-title>

    <ion-buttons *ngIf="loggedIn" end>
      <button ion-button (click)="fns.flipEditMode();">
        <span *ngIf="role == 'tenant'" >
          <ion-icon *ngIf="!fns.getEditMode()" ios="ios-search" md="md-search" ></ion-icon> &nbsp; <span>{{fns.getEditMode() ? 'Done' : 'Search'}}</span>
        </span>
        <span *ngIf="role == 'landlord'" >
          <ion-icon *ngIf="!fns.getEditMode()" name="create" ></ion-icon> &nbsp; <span>{{fns.getEditMode() ? 'Done' : ''}}</span>
        </span>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <page-login *ngIf="!loggedIn" ></page-login>

  <page-tenant-home *ngIf="role == 'tenant'" [editMode]="fns.editMode" ></page-tenant-home>

  <page-apartment *ngIf="role == 'landlord'" [editMode]="fns.editMode" ></page-apartment>

</ion-content>
