generic-view {
  .tab-info {
    background-color: #2ec95c;
  }
  .pad-right{
    padding-right: 10px;
  }
  .tenant-heading {
    background-color: #ffffff;
    text-decoration: underline;
    font-size: 20px;
    text-align: left;
  }
}
