<ion-header >
  <ion-navbar color="primary" >
    <button ion-button menuToggle [hidden]="fns.editMode" >
      <ion-icon name="menu" ></ion-icon>
    </button>
    <ion-title>Apartments</ion-title>
    <!--  <ion-title>{{ (user?.firstName || user?.claims?.username) +'s'}} Apartments</ion-title>  -->
    <ion-buttons end>
      <button ion-button (click)="fns.editMode = !fns.editMode ">{{fns.editMode == true ? 'Done' : 'Edit'}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>


  <div *ngIf="(apts | async)?.length == 0" >First time here ? Click edit button above to create apartments</div>

  <ion-list [reorder]="fns.editMode" >
    <ion-item-sliding *ngFor="let apt of (apts | async)"  >
      <ion-item no-lines (click)="fns.editMode ? '' : tapped(apt) " >
          <a class="row btm-brd">
            <span class="col left">{{apt?.name}}</span>
            <span class="col right">{{ apt?.rooms?.length || 0}} Rooms</span>
          </a>
      </ion-item>
      <ion-item-options side="left" *ngIf="fns.editMode" >
        <button ion-button (click)="edit(apt)">Edit Item</button>
        <button ion-button color="danger" (click)="remove(apt)">Delete</button>
      </ion-item-options>
      <!--
            <ion-item-options side="right">
              <button ion-button (click)="unread(item)">Unread</button>
            </ion-item-options>
            -->
    </ion-item-sliding>
    <div class="center" *ngIf="fns.editMode" ><button ion-button round small (click)="add()" >Add Apartment</button></div>
  </ion-list>

</ion-content>
