
<div *ngIf="(apts | async)?.length == 0" >First time here ? Click edit button above to create apartments</div>
<!------------------------------------------- Not Editing ------------------------------------------------------------>
<ion-list *ngIf="! (fns.editMode | async)" >
  <span *ngFor="let apt of (apts | async)">
    <ion-item (click)="tapped(apt)" >
      <a class="row" >
        <span class="col left" >{{apt?.name}}</span>
        <span class="col right" >{{ fns.getRole() === 'landlord' ? ( apt?.landlordRooms?.length || 0 ) : ( apt?.tenantRooms?.length || 0 )}} Rooms</span>
      </a>
    </ion-item>
  </span>
</ion-list>

<!-------------------------------------------Landlord Editing ------------------------------------------------------------>

<ion-list *ngIf="(fns.editMode | async) && (fns.getRole() === 'landlord')" >
  <ion-item-sliding #item *ngFor="let apt of (apts | async)">
    <ion-item>
      <a class="row" >
        <span class="col left" >{{apt?.name}}</span>
        <span class="col right" >{{ apt?.landlordRooms?.length || 0}} Rooms</span>
      </a>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="edit(apt)">Edit Item</button>
      <button ion-button color="danger" (click)="remove(apt)">Delete</button>
    </ion-item-options>

    <!--
    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Unread</button>
    </ion-item-options>
    -->
  </ion-item-sliding>
  <div class="center" ><button ion-button round small (click)="add()" >Add Apartment</button></div>
</ion-list>

<!-------------------------------------------Tenant Searching------------------------------------------------------------>
<!--
<ion-toolbar no-border-top *ngIf="(fns.editMode | async) && (fns.getRole() === 'tenant')" >
  <ion-searchbar color="primary"  [(ngModel)]="queryText"  (ionInput)="searchUpdated.next(queryText)" placeholder="Search for properties">
  </ion-searchbar>
</ion-toolbar>
<ion-list *ngIf="(fns.editMode | async) && (fns.getRole() === 'tenant')" >
  <div *ngFor="let apt of (searchResults | async)" style="border-bottom: 1px solid gray;" >
    <button ion-item no-lines (click)="selectRoom(apt)" >
      <h3>{{apt.name}}</h3>
      <p>{{apt.street}} &mdash; {{apt.city}}, {{apt.county}}</p>
    </button>
  </div>

</ion-list>
-->
