<div *ngIf="(apts | async)?.length == 0" >First time here ? Click edit button above to create apartments</div>
<!------------------------------------------- Not Editing ------------------------------------------------------------>
<ion-list *ngIf="! (editMode | async)" >
  <span *ngFor="let apt of (apts | async)">
    <ion-item (click)="tapped(apt)" >
      <a class="row" >
        <span class="col left" >{{apt?.name}}</span>
        <span class="col right" >{{ apt?.rooms?.length || 0}} Rooms</span>
      </a>
    </ion-item>
  </span>
</ion-list>

<!------------------------------------------- Editing ------------------------------------------------------------>

<ion-list *ngIf="editMode | async" >
  <ion-item-sliding #item *ngFor="let apt of (apts | async)">
    <ion-item>
      <a class="row" >
        <span class="col left" >{{apt?.name}}</span>
        <span class="col right" >{{ apt?.rooms?.length || 0}} Rooms</span>
      </a>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button (click)="edit(apt)">Edit Item</button>
      <button ion-button color="danger" (click)="remove(apt)">Delete</button>
    </ion-item-options>

    <!--
    <ion-item-options side="right">
      <button ion-button (click)="unread(item)">Unread</button>
    </ion-item-options>
    -->
  </ion-item-sliding>
  <div class="center" ><button ion-button round small (click)="add()" >Add Apartment</button></div>
</ion-list>
